body {
    margin: 0 auto;
    max-width: 50em;
    font-family: serif;
    line-height: 1.2;
    padding: 2em 1em;
}

code,
pre {
    /* background: #f5f7f9; /*#ffe2e8;*/
    background-color: #f4f4f4;
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    word-wrap: normal;
}

code {
    /* padding: 2px, 4px; */
    padding: 0.2em 0.4em;
    vertical-align: text-bottom;
}

pre {
    font-size: 100%;
    border-radius: 3px;
    overflow: auto;
    padding: 16px;
    border-left: 2px solid #69c;
}

a {
    color: #bbbe64
}

.notes {
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 0px 10px;
    min-height: 50em;
    word-wrap: normal;
}
