{{define "title"}}Your pages &ndash; setonotes{{end}}
{{define "content"}}
<style>
    a {
        color: black;
    }
</style>

<h1>Welcome to setonotes!</h1>
<p><a href="/edit/0">[new page]</a><p/>
{{range $pageID, $title := .Pages}}
    <p><a href="/edit/{{ $pageID }}">{{ $title }}</a></p>
{{end}}
{{end}}
