{{define "title"}}setonotes{{end}}
{{define "content"}}
<style>
    a {
        color: black;
    }
</style>

<h1>Welcome to setonotes!</h1>
<p><a href="/edit/0">[new page]</a><p/>
{{range $pageID, $title := .Pages}}
    <p><a href="/view/{{ $pageID }}">{{ $title }}</a></p>
{{end}}
<!--<p><a href="/signout/">[SIGNOUT]</a><p/>-->
{{end}}
