{{define "title"}}Editing {{.Title}} &ndash; setonotes{{end}}
{{define "content"}}
<link rel="stylesheet" href="/static/css/easymde.min.css">
<script src="/static/js/easymde.min.js"></script>
<h1>Editing {{.Title}}</h1>
<form action="/save/{{ .ID }}" method="POST">
<div>
    <textarea name="title" rows="1" cols="40">{{printf "%s" .Title}}</textarea>
</div>
<div>
    <textarea id="input-body" name="body" rows="20" cols="80"></textarea>
</div>
<div>
    <input type="submit" value="Save">
</div>
</form>
<script>
var easyMDE = new EasyMDE({ element: document.getElementById("input-body") });
easyMDE.value('{{printf "%s" .Body}}');
</script>
{{end}}
