html {
    height: 100%;
}

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#383f89, #8d2b2c);
}

.signin-container {
    color: white;
    max-width: 250px;
    margin: 100px auto;
    padding: 5% 4%;
}

.signin-string {
    text-align: center;
}

label {
    font-size: 0.9em;
}

input, button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

button, input[type="submit"] {
    padding: 7px 20px;
    color: #573663;
    background-color: #e1d2d2;
    font-size: 1em;
    font-weight: bold;
}

input{
    background-color: #441c6800;
    color: white;
    caret-color: white;
}

input[type=text] {
}

input[type=text]:focus {
}

input[type=password] {
}

input[type=password]:focus {
}

