{{define "title"}}{{.Page.Title}} &ndash; setonotes{{end}}
{{define "content"}}
<!--<p><a href="/">setonotes</a></p>-->
<div class="notes-container">
  <h1>{{.Page.Title}}</h1>
  <p>
    [<a href="/edit/{{.Page.ID}}">edit</a>]
    [<a href="/delete/{{.Page.ID}}">delete</a>]
  </p>
  <div class="notes">{{.Page.Markdown}}</div>
</div>
{{end}}
